/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
/* ---- GENERAL ---- */
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: 'Quicksand', sans-serif;
  background-color: yellow;
  background-image: linear-gradient(#134d71, #78a7c6, #f7e4bf);
  background-size: cover;
}

button:hover {
  border: none;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;

}

label[type=text] {
  color: #ffffff;
  font-size: 1em;
}

/* ---- HEADER ---- */
.title {
  color: #ffffff;
  padding: 3.5% 0 10% 0;
}
